*{
  font-family: system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  margin: 0;
  box-sizing: border-box;
}
body{
  margin: 0;
  width: 100%;
  height: 100svh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3f4f1;
  flex-wrap: wrap;
}
a.external-link{
  text-decoration: none;
  border-bottom: 1px dashed #1989b5;
  color: #1989b5;
}
a.external-link:hover{
  border-bottom: 1px dashed #2ab5ec;
  color: #2ab5ec;
}

.draggable{
  cursor: grab;
  position: relative;
  touch-action: none;
  user-select: none;
}

canvas{
  background-color: #77a0776e;
  border: 2px solid #bcdcbc;
  border-radius: 50%;
  display: block;
  box-shadow: 1px 2px 13px #7a93908c;
}

.ui{
  position: absolute;
  right: 0;
  background: #9cd7d129;
  padding: 1rem;
  border-radius: 5px;
  margin-right: 0.5rem;
}

.ui-section{
  text-align: center;
}
.ui-section:not(.ui-section:last-child){
  margin-bottom: 1.5rem;
  padding: 0.75rem 1.5rem;
  background-color: #dffffc63;
  border-radius: 10px;
}
.ui-section > h4{
  margin-bottom: 1rem;
}
.title-section{
  padding: 0.75rem 1.5rem;
  background-color: #dffffc63;
  border-radius: 10px;
}
.title-section h1{
  font-size: 1.2rem;
  color: #414f4e;
  margin-bottom: 0.5rem;
}
.title-section p{
  color: #3e3e3e;
  margin-bottom: 0.75rem;
}

.bacteria, .antibiotics{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}
.bacterium{
  cursor: pointer;
  padding: 0.25rem;
  border-radius: 0.15rem;
  border: 2px solid transparent;
  border-bottom-width: 4px;
}
.bacterium .figure{
  width: 12px;
  height: 14px;
  border-radius: 100%;
  border: 1px solid #efc653;
  background: radial-gradient(#f49012, #f0c545);
}
#strain2 .figure{
  border: 1px solid #c9c699;
  background: radial-gradient(#75bc20, #c9c699);
}
#strain3 .figure{
  border: 1px solid #e8cba0;
  background: radial-gradient(#fffaec, #e8cba0);
}

.bacterium.selected{
  border: 2px solid #69b4b3;
  border-bottom-width: 4px;
}

.antibiotic{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.antibiotic-disk{
  width: 18px;
  height: 18px;
  background-color: #f2d388;
  border-radius: 100%;
  border: 3px solid #bf8f1b;
}
.antibiotic-disk#B{
  background-color: #88ddf2;
  border-color: #1ba1bf;
}
.antibiotic-disk#C{
  background-color: #f28888;
  border-color: #c52f2f;
}
button{
  padding: 0.8rem 1.4rem;
  border-radius: 29px;
  background-color: #6cc7db;
  border: 1px solid #7ad3e7;
  cursor: pointer;
  color: #2a4d54;
}
button:hover{
  background-color: #84d6e8;
  transition: background-color 0.2s ease-in;
}

button.secondary{
  background-color: #96e2f3;
  border-color: #96e2f3;
}

.overlay{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #d3f7fecf;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
}
.about-section{
  padding: 2.5rem;
  background-color: #bcedf7;
  width: clamp(100px, 90vw, 530px);
  margin-bottom: 1rem;
  border-radius: 1rem;
}
.about-section h3{
  margin-bottom: 1rem;
}
.about-section p{
  margin-bottom: 0.5rem;
}


footer{
  width: 100%;
  position: absolute;
  bottom: 0.5rem;
  color: #3e3e3e;
  font-size: 0.8rem;
  text-align: center;
}
footer a{
  color: #708e4c;
}

@media (max-width: 1046px){
  body{
    justify-content: flex-start;
  }
  .title-section{
    margin-left: 1rem;
    text-align: center;
  }
}

@media (max-width: 740px){
  body{
    justify-content: center;
  }
}